.my-toodo-list{
  /* width: 500px; */
  margin: 0 auto;
}
.content{
  height: 40px;
  color: #fff;
  line-height: 40px;
  background: #042e42;
  padding: 0 560px;
  font-size: 14px;
}
.constent label{
  width: 80px;
  display: inline-block;
}
#input{
  width: 200px;
  outline: none;
  border: none;
  height: 25px;
  border-radius: 5px;
  padding-left:3px; 
}
button{
  outline: none;
  border: none;
  height: 28px;
  width: 50px;
  border-radius: 5px;
  margin-left: 5px;
}
ul{
  width: 500px;
  margin: 50px auto;
  background: cadetblue;
  border-radius: 5px;
  max-height: 245px;
  overflow-y: auto;
}
ul li{
  height:35px;
  line-height: 35px;
  list-style: none;
  color: #fff;
}
ul li button{
  float: right;
  margin-top: 3.5px;
  margin-right:20px;
  cursor: pointer;
}
ul li input{
  cursor: pointer;
}
.delete{
  text-align: center;
  background: cadetblue;
  height: 35px;
  line-height: 35px;
  width: 80px;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
}